body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: rgb(229, 188, 229);
    color: rgb(137, 6, 56);;
}

.gallery-heading{
    padding-left: 100px;
    padding-top: 50px;
}
.row{
   padding: 0 100px 50px 100px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 50px;
}
.detail-box {
    padding-left: 100px;
}
#events {
    padding-left: 100px;
}
.event-box{
    width: 18rem;
    color: black; 
    margin: 0 0 20px 0; 
    object-fit: cover; 
    background-color: white;  
    text-align: center; 
    padding-bottom: 10px;
}

.card img{
    width: 333px;
    height: 300px;
    object-fit: cover;
}
/* .card-details{
    padding: 0 100px 0 100px;
} */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:  rgb(137, 6, 56);;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(137, 6, 56);;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: black;
    transform: translate(-5px);
    color: white;
}
.btn.btn2{
    display: inline-block;
    background:rgb(137, 6, 56);;
    color: white;
    font-weight: 600;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border-color: #ababab;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.footer-section{
    text-align: center;
    background-color: #262626;
    height: 120px;

}
.span-footer{
  font-size: 20px;
}
.footer-icon a{ 
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    padding-bottom: 0;
    margin-bottom: 0;
}
.footer-icon p{
    padding: 0;
    margin: 0;
}
.footer-icon a:hover{
    color: black;
    transform: translate(-5px);
}
.footer-copy{
   padding-top: 20px; 
}
/* ----------- */
.full-width {
    width: 100%;
  }
  .pink {
    background: pink;
  }
  .carousel-item{
    align-items: center;
 }
 .visually-hidden {
     color: black;
     font-weight: 600;
 }
 /* .carousel-inner{
     align-items: center;
 } */
 .carousel-item img{
    margin: 0 auto;
    object-fit: cover;
    height:600px;
    width: 1680px;
}
 .service-title{
    padding-left: 100px;
    padding-top: 50px;
}
.service-card{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
/* ----------------------- */
@media (max-width: 481px) {
   .carousel-item img {
    height: 250px;
    width: 350px;
   }
   .event-heading {
   text-align: center;
   }
   .detail-box {
    padding: 0;
    text-align: center;
   }
   #events {
    padding: 0;
    margin: 0 auto;
   }
    .box-title {
        font-size: medium;
    }
    .card-text {
        font-size: small;
    }
    .event-box {
        margin: 0 auto;
    }
    #gallery {
        padding: 0;
        margin: 0 auto;
    }
    .gallery-heading {
        text-align: center;
      padding-left: 0;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    #gallery .row .col {
        width: 333px;
        padding: 0;
        margin: 0 auto;
    }
    #gallery .row .col .card{
        width: 333px;
    }

    #services {
        padding: 0;
        margin: 0 auto;
       }
    .service-title {
        padding-left: 0;
        text-align: center;
    }
    .service-card {
        margin: 0 ;
        display: grid;
        gap: 10px;
    }
    .service-card .col{
       width: 300px;
        margin: 0 auto;
        padding: 0;
    }
    #hls-example {
        margin: 0 auto;
        height: 250px;
        width: 350px;
    }
}